<form action="/carCreation" method="POST"> 
     <fieldset> 
         <label for="carBrand">Marca</label>
         <input name="carBrand"type="text" placeholder="carBrand">

         <label for="carModel">Modelo</label>
         <input name="carModel"type="text" placeholder="carModel">

         <label for="modelYear">Año</label> 
         <input name="modelYear"type="text" placeholder="modelYear">

         <label for="nextItvDate">Próxima ITV</label>
         <input name="nextItvDate"type="date" placeholder="nextItvDate">

         <label for="sellingPrice">Precio de venta</label>
         <input name="sellingPrice"type="number" placeholder="sellingPrice">

         <label for="costPrice">Precio de coste</label>
         <input name="costPrice"type="number" placeholder="costPrice">

         <label for="leasingPrice">Precio de alquiler</label>
         <input name="leasingPrice"type="number" placeholder="leasingPrice">

         <label for="leaseDate">Fecha de alquiler</label>
         <input name="leaseDate"type="date" placeholder="leaseDate">

          <label for="leaseReturnDate">Fecha de entrega</label>
         <input name="leaseReturnDate"type="date" placeholder="leaseReturnDate">

         <label for="carColor">Color</label>
         <input name="carColor"type="text" placeholder="carColor">

          <label for="seatsNumber">Nº asientos</label>
         <input name="seatsNumber"type="text" placeholder="seatsNumber">

          <label for="doorNumber">Nº puertas</label>
         <input name="doorNumber"type="text" placeholder="doorNumber">

          <label for="trunkSize">Tamaño del maletero</label>
         <input name="trunkSize"type="text" placeholder="trunkSize">

          <label for="co2Emissions">Emisiones de CO2</label>
         <input name="co2Emissions"type="text" placeholder="co2Emissions">

          <label for="carType">Tipo vehículo</label>
         <input name="carType"type="text" placeholder="carType">

          <label for="airConditioner">Fecha de alquiler</label>
         <input name="airConditioner"type="text" placeholder="airConditioner">

          <label for="transmissionType">Tipo de tramisión</label>
         <input name="transmissionType"type="text" placeholder="transmissionType">

          <label for="motorType">Tipo de motor</label>
         <input name="motorType"type="text" placeholder="motorType">

          <label for="stock">Stock</label>
         <input name="stock"type="text" placeholder="stock">

         <label for="availability">Fecha de alquiler</label>
         <input name="availability"type="text" placeholder="availability">

         <label for="foto">Foto</label>
         <input name="foto"type="text" placeholder="Foto">

        <input value="Enviar"type="submit">
    </fieldset> 

    

</form>