<form action="/carCreation" method="POST">
    <fieldset>

        {{>atoms/forms/carBrand}}

        <label for="carModel">Modelo</label>
        <input name="carModel"type="text" placeholder="carModel">

        <label for="modelYear">Año</label>
        <input name="modelYear"type="number" placeholder="modelYear">

        <label for="nextItvDate">Próxima ITV</label>
        <input name="nextItvDate"type="date" placeholder="nextItvDate">

        <label for="sellingPrice">Precio de venta</label>
        <input name="sellingPrice"type="number" placeholder="sellingPrice">

        <label for="costPrice">Precio de coste</label>
        <input name="costPrice"type="number" placeholder="costPrice">

        <label for="carImage">Foto</label>
        <input name="carImage"type="text" placeholder="carImage">

        <label for="carColor">Color</label>
        <input name="carColor"type="text" placeholder="carColor">

        <label for="seatsNumber">Nº asientos</label>
        <input name="seatsNumber"type="number" placeholder="seatsNumber">

        <label for="doorNumber">Nº puertas</label>
        <input name="doorNumber"type="number" placeholder="doorNumber">

        <label for="trunkSize">Tamaño del maletero</label>
        <input name="trunkSize"type="number" placeholder="trunkSize">

        <label for="co2Emissions">Emisiones de CO2</label>
        <input name="co2Emissions"type="number" placeholder="co2Emissions">

        <label for="carType">Tipo vehículo</label>
        <input name="carType"type="text" placeholder="carType">

        <label for="airConditioner">Aire acondicionado</label>
        <input name="airConditioner"type="text" placeholder="airConditioner">

        <label for="transmissionType">Tipo de tramisión</label>
        <input name="transmissionType"type="text" placeholder="transmissionType">

        <label for="motorType">Tipo de motor</label>
        <input name="motorType"type="text" placeholder="motorType">

        <label for="stock">Stock</label>
        <input name="stock"type="number" placeholder="stock">

        <label for="availability">Disponibilidad</label>
        <input name="availability"type="text" placeholder="availability">

        <label for="transactionType">Operación</label>
        <input name="transactionType" type="text" placeholder="transactionType">



        <input value="Enviar"type="submit">
    </fieldset>
</form>