<form action="/updateCar/{{this._id}}" method="POST">
    <fieldset>

        {{#each arrayInputList}}
           {{#with reqCar}}
               {{>atoms/forms/input}}
           {{/with}}
        {{/each}}
          <input type="submit" value="Enviar">
       

    </fieldset>
</form>