<h1>Panel de control</h1>

<ul>
    
    <li><a href="/carForm">Creación de nuevo registro de coche.</a></li>

    <li><a href="/transactionList">Registro de ventas.</a></li>

    <li><a href="/benefits">Beneficios.</a></li>

    <li><a href="/transactionMonth">Transacciones del mes.</a></li>

    <li><a href="/transactionYear">Transacciones del año.</a></li>
    
</ul>

<section>

    <figure>
    <a href="/carForm"><img src="../img/forms.png"></a>
    <figcaption>Nuevo registro de coche</figcaption>
    </figure>

    <figure>
    <a href="/transactionList"><img src="../img/transaction.png"></a>
    <figcaption>Registro de ventas</figcaption>
    </figure>

    <figure>
    <a href="/benefits"><img src="../img/profits.png"></a>
    <figcaption>Beneficios</figcaption>
    </figure>

    <figure>
    <a href=""><img src="../img/user.png"></a>
    <figcaption>Usuario</figcaption>
    </figure>

</section>