<h1>Panel de control</h1>

<section>

    <figure>
        <a href="/newCars/carForm"><img src="../img/forms.png"></a>
    <figcaption>Nuevo registro de coche</figcaption>
    </figure>

    <figure>
        <a href="/newCars/transactionList"><img src="../img/transaction.png"></a>
    <figcaption>Registro de ventas</figcaption>
    </figure>

    <figure>
        <a href="/newCars/benefits"><img src="../img/profits.png"></a>
    <figcaption>Beneficios</figcaption>
    </figure>

    <figure>
        <a href="/newCars/transactionMonth"><img src="../img/profits.png"></a>
        <figcaption>Transacciones del mes.</figcaption>
    </figure>

    <figure>
        <a href="/newCars/transactionYear"><img src="../img/profits.png"></a>
        <figcaption>Transacciones del año.</figcaption>
    </figure>

    <figure>
        <a href=""><img src="../img/user.png"></a>
    <figcaption>Usuario</figcaption>
    </figure>

</section>