<h1> Registro de ventas </h1>

{{#each transactionYearArray}}
    
        <section>
            <h2>Venta: {{this._id}}</h2>
            <p>Fecha de venta: {{this.transactionDate}}</p>
        </section>

{{/each}}


{{>atoms/buttons/benefit}}

{{>atoms/buttons/homeButton}}